# Node modules
node_modules/

# Output build directory
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Prisma
prisma/dev.db
prisma/dev.db-journal
.prisma/

# Docker volumes
mysql/
*.pid

# OS-specific files
.DS_Store
Thumbs.db

# TypeScript cache
*.tsbuildinfo

# VSCode settings
.vscode/

# Docker ignore
docker-compose.override.yml
